<div>
  <% if @exercise.featured_image.attached? %>
    <%= image_tag @exercise.featured_image, alt: @exercise.name, class: "rounded-lg object-cover w-full" %>
  <% else %>
    <img src="https://placehold.co/600x400/f97316/FFFFFF/png?text=<%= @exercise.name %>" alt="<%= @exercise.name %>" class="rounded-lg object-cover w-full">
  <% end %>
</div>